* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Stylish', sans-serif;
  font-family: 'Kodchasan', sans-serif;
  font-size: 15px;
}

body {
  background: #e0dfdf;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../ASSETS/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-filtro {
  background-color: rgba(21, 77, 114, 0.856);
  height: 100%;
  width: 100%;
}

.login-section {
  background-color: rgba(204, 204, 204, 0.753);
  min-height: 50vh;
  min-width: 20vw;
}

.view-body {
  background-color: #d1d1d1;
  margin-top: 3.3rem;
  min-height: 100vh;
}

.view-navVertical {
  min-height: 91vh;
  width: 15vw !important;
  background-color: #2a3141;
}

.view-navVertical__list {
  position: -webkit-sticky;
  position: sticky;
  width: 15vw;
  margin-top: 1em;
  min-height: 90.34vh;
}

.view-navVertical__bg {
  background-color: #2a3140;
  /* border-top: 1px solid  #475064;
      border-bottom: 1px solid  #475064; */
}

.view-navVertical__bg :hover {
  background-color: #394052;
  text-decoration: none;
}

.view-navVertical__bg::after {
  color: #138496;
}

.view-navVertical__render {
  width: 87vw;
  /* margin-left: 13vw; */
}

.view-navVertical__tooltips {
  width: 10vw;
}

.relatorio-page__filter {
  width: 7vw;
  height: 5vh;
}

.relatorio-page__img {
  width: 2vw;
  height: auto;
}

.relatorio-input {
  width: 10vw;
}

.relatorio-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.enriquecer {
  height: 70vh;
}

.enriquecer-progresso {
  width: 30vw;
}

.enriquecer-info li {
  list-style: none;
}

.enriquecer-info__list {
  font-size: 14px;
}

.input-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 12vw;
}

.input-consulta {
  border-radius: 0;
}

.mailing {
  width: 40vw;
}

.mailing-estado {
  width: 20vw;
}

.mailing-div {
  height: 20vh;
}

.mailing-div__local {
  height: 12vh;
}

.mailing-div button {
  height: 7vh;
  width: 10vw;
}

#link-navegacao a {
  color: white;
}

#link-navegacao a.active {
  background-color: white;
  color: #17a2b8;
  border-radius: 3px;
}

.nav-horizontal {
  height: 10vh;
}

.nav-width {
  width: 35vw;
}

.table-relatorio {
  width: 85vw;
}

.table-data {
  width: 50vw;
  height: 60vh;
}

.consulta {
  background-color: #202739;
}

.consulta-body {
  width: 80vw;
  min-height: 100%;
}

.consulta-container {
  width: 85vw;
  min-height: 80vh;
}

.panel {
  margin-left: 0;
  margin-right: 0;
}

.panel-div {
  height: 15vh;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 3px 3px 10px #2a314179;
          box-shadow: 3px 3px 10px #2a314179;
}

.panel-div__second {
  height: 30vh;
  padding: 0;
  -webkit-box-shadow: 3px 3px 10px #2a314179;
          box-shadow: 3px 3px 10px #2a314179;
  height: 50vh;
}

.panel-text img {
  width: 15vw;
  padding-top: 1rem;
}

.dica {
  position: absolute;
  top: 6em;
  right: 1em;
}

.dica:hover .dica-texto {
  visibility: visible;
}

.dica-img {
  width: 2vw;
  height: 4vh;
}

.dica-texto {
  z-index: 999;
  visibility: hidden;
  width: 50vw;
  right: 3rem;
  top: 10%;
  height: 80vh;
}

.bg-salmon {
  background-color: #fde3a6;
}

.bg-panel {
  width: 5vw;
  height: 10vh;
}

.bg-panel img {
  width: 2vw;
}

.bg-grey {
  background-color: #e2e2e2;
}

.card-relacionadas {
  padding: 10px 0;
}

.card-relacionadas td {
  font-size: 14px;
}

.card-relacionadas__first {
  width: 25vw;
}

.button-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 36px;
}

.dashboard-grafic {
  height: 40vh;
}

.box-enriquecimento {
  min-height: 82vh;
}

.box-select {
  height: 16vh;
}

.height-enriquecer, #enriquecer {
  min-height: 84vh;
}

.collapseImage {
  width: 1.5vw;
  height: 2.5vh;
}

.sombra {
  -webkit-box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.507);
          box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.507);
}

.title_form {
  background-color: #485470;
  padding: 1% 5%;
  margin-top: -47px;
  margin-left: 35px;
  position: absolute;
  border-radius: 5px;
}

.btn-green {
  background-color: #c0f8c0;
}

.planilha {
  background-color: white;
}

.marginPage {
  margin: 5rem 0;
  width: 80vw;
}

.monit-button {
  width: 25vw;
}

.resposta {
  height: 175px;
}

.botao {
  width: 5vw;
}

.navbar-nav {
  background-color: #138496;
}

.barra-1 {
  height: 1em;
}

.tr-icons-img:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shadow-nav {
  -webkit-box-shadow: 10px 10px gray;
          box-shadow: 10px 10px gray;
}

.box-height {
  min-height: 80vh;
}

.box-atribuicao {
  min-height: 70vh;
}

.line-buttons {
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

.line-buttons:hover {
  opacity: .3;
}

.line-buttons:hover .texto-1 {
  opacity: 0;
}

.line-buttons:hover .progress, .line-buttons:hover .box-absolute {
  display: none !important;
}

.line-buttons:hover .buttons, .line-buttons:hover .buttons-historico, .line-buttons:hover .buttons-historico_mailing {
  opacity: 1;
}

.buttons {
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  max-height: 3vh;
}

.buttons-img > img {
  height: 3vh !important;
}

.buttons-box {
  height: 10vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-box > p {
  width: 200px;
}

.buttons-historico {
  top: 15px;
  bottom: 0;
  right: 25px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  max-height: 5vh;
}

.buttons-historico_mailing {
  top: 15px;
  bottom: 0;
  right: 3.5rem;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  max-height: 5vh;
}

.modal-new {
  max-width: 100vw !important;
}

.modal-scroll {
  width: 56vw;
  overflow-x: scroll;
}

.progress {
  height: 5vh;
  width: 10vw;
  left: 15px;
}
/*# sourceMappingURL=index.css.map */